@model TrainingManagement.Models.Staff

@{
    ViewBag.Title = "Menu";
}

<h2>Staff Menu</h2>

<div>
    @Html.ActionLink("Manage trainers", "index", "Trainers")
</div>

<div>
    @Html.ActionLink("Manage trainees", "index", "Trainees")
</div>

<div>
    @Html.ActionLink("Manage course categories", "index", "CourseCategories")
</div>

<div>
    @Html.ActionLink("Manage courses", "index", "Courses")
</div>

<div>
    @Html.ActionLink("Manage topics", "index", "Topics")
</div>

